.inventory-table {
  table-layout: fixed;
  margin-left: 9%;
  width: 90% !important;

  .inventory-row {
    cursor: pointer;
  }

  .inventory-image {
    background-color: #fff;
    height: 48px;
  }

  th,
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }

  // .inventory-image-col {
  //   text-align: center;
  //   width: 72px;
  // }

  // .inventory-name-col {
  //   min-width: 100px;
  // }

  // .inventory-price-col {
  //   width: 110px;
  // }

  // .inventory-delete-col {
  //   width: 84px;
  //   text-align: right;
  // }
}

@include media-breakpoint-down(sm) {
  .inventory-desc-col {
    display: none;
  }
}
